.back
  .container
    .row
      .col.s12
        %ul.tabs.paint
          %li.tab.col.s6.active
            = link_to(('<i class="mdi-social-person"></i> MTGT').html_safe, "#mtgt")
          %li.tab.col.s6
            = link_to(('<i class="mdi-social-person"></i> DOALN').html_safe, "#doaln")

      #mtgt.col.s12
        = render 'mtgt'
      #doaln.col.s12
        = render 'doaln'
    %br
