.row
  .slider
    %ul.slides
      %li
        %img{:src => "support1.jpg"}
          .caption.center-align
            %h3.blue-grey-text Femina Speaks
            %h5.light.blue-grey-text.text-lighten-3 Support. Learning. Strength - A Voice!
      %li
        %img{:src => "support2.jpg"}
          .caption.left-align
            %h3 Femina Speaks Tv
            %h5.light.grey-text.text-lighten-3 Weekly Video Shows
      %li
        %img{:src => "support3.jpg"}
          .caption.right-align
            %h3.black-text Femina Speaks Support Group
            %h5.light.black-text.text-lighten-3 Stay connected with other Survivors
      %li
        %img{:src => "support1.jpg"}
          .caption.center-align
            %h3.black-text Femina Speaks
            %h5.light.black-text.text-lighten-3 Abuse. Mental Health. Emotional Intelligence
.col.s12.footer2
  .center-align
    .container
      %h1 Ese Walter
      %h5 I am a humanist. I am passionate about the interests and welfare of human beings especially women and children. I am a wife and a co-sleeping, attachment parenting, badass breastfeeding mum. Since the birth of my son, I have learnt to slow down and pay attention. I consider him my greatest teacher. I am interested in the study of psychological abuse, mental health matters, emotional intelligence and authenticity. I am a qualified attorney with a Masters degree in International Law and Financial Markets. I am currently studying to qualify as a professional Counselor and Child Psychologist.
      %i.material-icons visibility
.section#two.wrapper.alt.style2
  .section.spotlight
    .image
      = image_tag('blogger.jpg', )
    .content
      %h2.white-text Naked
      %br/
      %p.white-text Naked is a memoir of three decades of my life and it focuses on my experiences​ with abuse, how it affected my mental health, how I developed emotional intelligence and how I now live an authentic life.
  .section.spotlight
    .image
      = image_tag('support_me.jpg', )
    .content
      %h2.white-text Support Group
      %br/
      %p.white-text If you need any help finding a therapist or if you want to connect with other victims and survivors, you can join our SUPPORT GROUP by choosing a plan that serves you.
  .section.spotlight
    .image
      = image_tag('women_tv.jpg', )
    .content
      %h2.white-text Femina Speaks Tv
      %br/
      %p.white-text Femina Speaks TV is a show where I explore Psychological Abuse, Mental Health Matters, Emotional Intelligence and Authenticity.

.parallax-container
  .parallax
    = image_tag('location.png')
    %h1 Support Group