.row
  .slider
    %ul.slides
      %li
        %img{:src => 'https://s3.amazonaws.com/andela-ratsi/femina/support1.jpg'}
          .caption.center-align
            %h3.green-text.text-accent-3 Femina Speaks
            %h5.green-text.text-accent-3 Support. Learning. Strength - A Voice!
      %li
        %img{:src =>  'https://s3.amazonaws.com/andela-ratsi/femina/support2.jpg'}
          .caption.left-align
            %h3 Femina Speaks Tv
            %h5.light.grey-text.text-lighten-3 Weekly Video Shows
      %li
        %img{:src => 'https://s3.amazonaws.com/andela-ratsi/femina/support3.jpg'}
          .caption.right-align
            %h3.black-text Femina Speaks Support Group
            %h5.light.black-text.text-lighten-3 Stay connected with other Survivors
      %li
        %img{:src => 'https://s3.amazonaws.com/andela-ratsi/femina/support1.jpg'}
          .caption.center-align
            %h3.green-text.text-accent-3 Femina Speaks
            %h5.green-text.text-accent-3 Abuse. Mental Health. Emotional Intelligence
.col.s12.footer2
  .center-align
    .container
      .row
        %i.material-icons visibility
      %h5 "Our deepest fear is not that we are inadequate. Our deepest fear is that we are powerful beyond measure. It is our light, not our darkness that most frightens us. We ask ourselves, Who am I to be brilliant, gorgeous, talented, fabulous? Actually, who are you not to be? You are a child of God. Your playing small does not serve the world. There is nothing enlightened about shrinking so that other people won't feel insecure around you. We are all meant to shine, as children do. We were born to make manifest the glory of God that is within us. It's not just in some of us; it's in everyone. And as we let our own light shine, we unconsciously give other people permission to do the same. As we are liberated from our own fear, our presence automatically liberates others."
      %h5.pink-text.text-accent-3 - Marianne Williamson.
      %i.material-icons visibility
.section#two.wrapper.alt.style2
  .section.spotlight
    .image
      = image_tag('mummies.jpg', )
    .content
      %h2.white-text Monday Mummies
      %br/
      %p.white-text Every Monday I share experiences about a new mum and her infant. From sex after baby, to postpartum blues we are constantly trying to keep up with raising an infant, find the scope on how to relish this new mummy phase right here.
  -#.section.spotlight
  -#  .image
  -#    = image_tag('blogger.jpg', )
  -#  .content
  -#    %h2.white-text Naked
  -#    %br/
  -#    %p.white-text Naked is a memoir of three decades of my life and it focuses on my experiences​ with abuse, how it affected my mental health, how I developed emotional intelligence and how I now live an authentic life.
  .section.spotlight
    .image
      = image_tag('support_me.jpg')
    .content
      %h2.white-text Support Group
      %br/
      %p.white-text If you need any help finding a therapist or if you want to connect with other victims and survivors, you can join our SUPPORT GROUP.
  .section.spotlight
    .image
      = image_tag('fstv_hosts.jpg')
    .content
      %h2.white-text Femina Speaks Tv
      %br/
      %p.white-text Femina Speaks TV is a show that explores Psychological Abuse, Mental Health Matters, Emotional Intelligence and Authenticity.

.parallax-container
  .parallax
    = image_tag('location.png', size: '1200x600')
