.row
  .col.s6
    = image_tag('book_shot.png')
  .col.s6
    .pad2
      .card.blue-grey.darken-1
        .card-content
          %span.card-title
            %h5.black-text NAKED
          %p.white-text NAKED is a memoir of three decades of my life and it focuses on my experiences​ with abuse, how it affected my mental health, how I developed emotional intelligence and how I now live an authentic life.

          %p.white-text It's a how to guide on how you too can rise from any situation and live your authentic life.

          %p.white-text I believe if everyone is empowered to live authentically, the generations after us will not have to struggle as much as some of us did. And we will be one step closer to world peace.
        .card-action
          %blockquote
            %h5 Ese Walter