.indigo.lighten-5
  .container
    %br/
    %h2 How May I Serve You?

    %p Whether you are here because you are looking for private support, wondering how you can get out of an abusive situation, want to unlearn years of abusive behaviour, or need to learn to thrive after leaving an abusive situation, you have landed on the right ​page​…

    %p We have various forums tailored to meet your needs. They include:

    %i.material-icons.left.blue-text.text-darken-2 label_outline
    %p
      %h5 Psychotherapy :
      This is for anyone who needs to talk to a mental health professional. We offer free evaluation with a qualified therapist.

    %i.material-icons.left.blue-text.text-darken-2 label_outline
    %p
      %h5 Private Facebook Group :
      This is a safe space where you can connect with other victims and survivors of abuse. It is a blame free space to share your experiences and get support from others like you.

    %i.material-icons.left.blue-text.text-darken-2 label_outline
    %p
      %h5 Survivors Guide :
      This forum is for ladies who have survived abuse but are having difficulty adjusting to new situations. We help you learn how to ease into​ your new way of being and continue to thrive as you learn to live your authentic life.

    %i.material-icons.left.blue-text.text-darken-2 label_outline
    %p
      %h5 One on One Counseling :
      This is for anyone who needs privacy in dealing with an abusive situation. If you are not willing or able to work with a group as you navigate your situation, Skype, email or phone counseling is your best bet. All correspondence is private and protected under law.

    %i.material-icons.left.blue-text.text-darken-2 label_outline
    %p
      %h5 Abusers Anonymous :
      This is a group for abusers who know they need to heal and are unable to do it alone. The group meets once a month at a location that will be emailed and/or texted to attendees 24hours before each meeting. The purpose of this group is to begin the healing process for the abuser. There will be a professional therapist and/or
      = link_to 'Neuro-Linguistic Programmer​', 'http://www.neurolinguisticprogramming.com', target: '_blank'
      present at each meeting. Meetings are gender specific as male abusers have separate meetings from female abusers.

    %i.material-icons.left.blue-text.text-darken-2 label_outline
    %p
      %h5 Child Abuse Helpline :
      This is for any parent who is dealing with child abuse. We can help you with what to do after your child has experienced any type of abuse. You can also find useful materials to help you educate your child on what constitutes abuse and how to report predators. (Child as used here is any person between the ages of 0-13 years)

    %p.blue-text.text-darken-2
      Subscribe by clicking on the Plans Tab to start participating in the conversation with community members just like you.
    %br/
