.container
  .indigo.lighten-5
    .container
      %br/
      %h3 Copyright

      %p NO PART OF THIS WEBSITE MAY BE REPRODUCED OR TRANSMITTED IN ANY FORM OR BY ANY MEANS, MECHANICAL, ELECTRONIC, OR OTHERWISE, INCLUDING PHOTOCOPYING AND RECORDING, OR BY ANY INFORMATION STORAGE AND RETRIEVAL SYSTEM, OR TRANSMITTED BY E-MAIL, OR USED IN ANY OTHER FASHION WITHOUT THE EXPRESS PRIOR WRITTEN PERMISSION OF THE WEBSITE OWNER.

      %p All information and content created by Ese Walter and Femina Speaks Media®, both on and off this site, are copyright protected.

      %p This website, including all text, HTML, scripts, and images are copyrighted, owned, and/or licensed by Femina Speaks Media®. All rights reserved.

      %p The FS logo is an original work, created for Femina Speaks Media®. It is a copyrighted image. It should not be copied or used in any manner. The image is solely owned by Femina Speaks Media® in representation of our company and website. We will not give permission for its use or reproduction.


      %h3 Copyright Guide for Website Content:

      %p This is a guide for social media admins, blog and website owners who are kind enough to share our work ethically and our passion for heightening psychological abuse awareness. Thank you.

      %p 1) You may link to this site. However, do not reproduce any work (even if a citation or credit is provided) without permission.
      %p 2) Crediting the author does not bypass (or shield from) copyright infringement. Be aware that putting our content in quotes and crediting us addresses plagiarism, however it does not address our copyright privileges. Permission is always required.
      %p 3) Content created by Ese Walter and/or Femina Speaks Media® should not be duplicated or placed on other websites or other mediums not owned by us. We consider duplicate content to be portions of our videos, summaries of our videos, content in written form of our videos, paragraphs or entire articles that were created by Ese Walter and/or Femina Speaks Media® that appear on another website, social media page, forum, message board, pdf, printed material, power point, book, ebook, presentation, television, video, or any other medium not owned by Ese Walter and Femina Speaks Media®.
      %p 4) If you do not receive a response back regarding your request for use OR permission to use certain material, we still maintain our copyright. A lack of response from Ese Walter and/or Femina Speaks Madia® does not equate to a forfeit of our legal rights. If no permission is given, there should be no use of the material.
      %p 5) In matters of copyright infringement, Femina Speaks Media® will pursue attorney’s costs and statutory damages.
      %p 6) The best option:
      %p Make use of the “Share” buttons that accompany most articles if you would like to share our content material with others.
      %br/
