/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

@import "materialize";
@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

#slide-out li {
  padding: 2em;
}

#slide-out a {
  text-transform: uppercase;
}

nav {
  background-color: #4D648D!important;
  ul a {
    color: white!important;
  }
}
.brand-logo {
  color: white!important;
}

select {
  display: block;
}

body {
  font-family: "Lato", "Roboto";
  font-style: italic;
  background-color: #D0E1F9;
  color: #1E1F26!important;
}
.parallax img {
  display: block;
}

.back {
  margin-top: -1.5em;
  padding-top: 1em;
  background-repeat: no-repeat;
  overflow-y: scroll;
  height: 100vh;
  background-image: -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))),  url("background.jpg");
}
.books {
  padding-top: 1em;
  background-image: -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))),  url("bookshelf.jpg");
  background-repeat: no-repeat;
  overflow-y: scroll;
  height: 120vh;
}

.footer1 {
  background-color: #32384D;
}

.lower-footer {
  background-color: #4D648D!important;
}
.card-reveal {
  background-color: #283655!important;
}
.paint {
  background-color: #283655!important;
}
.paint2 {
  background-color: #4D648D!important;
}
.paint-tab {
  color: #4D648D!important;
}

