// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer1 {
  background-color: #1976d2;
  height: 400px;
  li {
    list-style: none;
  }
}

.footer2 {
  height: 380px;
}

.lower-footer {
  background-color: #ff4081;
  padding-top: 3em;
  padding-bottom: 3em;
}

.pad {
  padding-top: 3em;
}
.pad2 {
  padding-top: 10em;
}
.tv-ad {
  background-color: rgba(0, 0, 0, 0.225);
  height: 300px;
  width: 1200px;
}
