#disclaimer.modal
  .modal-content
    %h5.center-align Disclaimer!
    %p.blue-text.text-darken-4 All information available on Femina Speaks Media are for information purposes only and should not replace professional advice and/or medication.
  .modal-footer
    = link_to 'Ok' , '#!' , class: 'modal-action modal-close waves-effect waves-green btn-flat'
